<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujin.spzx.manager.mapper.SysRoleMapper">

    <select id="findByPage" resultType="com.yujin.spzx.model.entity.system.SysRole">
        select id,role_name,role_code,description,create_time,update_time,is_deleted from sys_role
        where role_name like CONCAT('%',#{roleName},'%')
    </select>

    <insert id="saveSysRole" parameterType="com.yujin.spzx.model.entity.system.SysRole">
        insert into sys_role(id,role_name,role_code,description)
        values (#{id}, #{roleName}, #{roleCode}, #{description})
    </insert>
</mapper>