# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../spzx-common/common-service/target/
../spzx-common/common-util/target/
../spzx-manager/target/
../spzx-model/target/